.navbar {
  background-color: #5cb85c; /* #007bff, #00cc00 */
  box-shadow: 0 0 .5em rgba(0, 0, 0, .2);
  z-index: 500;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: rgba(255, 255, 255, .75);
}

/* .nav-item {
  padding-right: 10px;
}

.nav-item:last-child {
  padding-right: 0;
} */

.nav-item a {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.nav-item:last-child a {
  padding-right: .5rem !important;
}

.kana {
  font-size: 1.25em;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.body-div {
  padding-top: 1em;
}

.jumbotron {
  text-align: center;
}

.add-space {
  margin-left: .25em;
  margin-right: .25em;
}

.navbar-dark {
  color: white;
}

.navbar-collapse {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.card-list {
  text-align: center;
}

@media (min-width: 768px) {

  .nav-item:nth-child(n+2) a::before {
    content: ' | ';
    color: white;
    padding-left: 1em;
    padding-right: 1em;
  }

}

@media (max-width: 576px) {
  .display-4 {
    font-size: 2.5rem;
  }
}