header.navbar
  a.navbar-brand(href='/api')
    h1.display-4 Learn Japanese!
    h6 A flashcard app to help you study
  nav.navbar-nav.flex-row.site-nav
    //- li.nav-item.active
    //-   a.nav-link(href='/add') Add
    li.nav-item
      a.nav-link(href='/') List All Cards
    li.nav-item
      a.nav-link(href='/greeting') Begin Quiz
