extends layout.pug

block content
  form
    .form-group
      input(type="hidden" name="_method" value="PUT")
      label(for='question') Japanese Phrase:
      input#japanesePhrase.form-control.form-control-lg(type='text' name='japanesePhrase' value= cardPrompt.japanesePhrase )
      label(for='answer') English Translation:
      input#englishTranslation.form-control.form-control-lg(type='text' name='englishTranslation' value= cardPrompt.englishTranslation)
      br
      p.save-changes-button(data-database-id= cardPrompt._id)
      //- button.btn.btn-primary(type='submit') Save Changes
      button.btn.btn-primary(type='button') Cancel
