extends layout.pug

block content

  //- introduction
  .jumbotron.greeting
    h1 こんにちは！
    p konnichiwa!
    p.begin-quiz-button
    //- a(href='#' class="btn btn-outline-success btn-lg" onclick="randomCard()") Begin Quiz!
