doctype html

html(lang="en")
  head
    title= title
    include includes/document-head.pug
  body
    include includes/navigation.pug
    .container.body-div

      block content

    include includes/footer.pug
